<ion-tabs>
  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ng-container *ngIf="activeNav$ | async as activeNav">
      <button
        type="button"
        class="nav-button"
        [class.nav-button--active]="activeNav === 'home'"
        [routerLink]="['/tabs/tab1']"
        [queryParams]="{ nav: 'home' }"
      >
        <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
        <span>Inicio</span>
      </button>

      <button
        type="button"
        class="nav-button"
        [class.nav-button--active]="activeNav === 'search'"
        [routerLink]="['/tabs/tab1']"
        [queryParams]="{ nav: 'search' }"
      >
        <ion-icon aria-hidden="true" name="search-outline"></ion-icon>
        <span>Pesquisar</span>
      </button>

      <button
        type="button"
        class="nav-button"
        [class.nav-button--active]="activeNav === 'add'"
        [routerLink]="['/tabs/tab2']"
      >
        <ion-icon aria-hidden="true" name="add-circle-outline"></ion-icon>
        <span>Adicionar</span>
      </button>

      <button
        type="button"
        class="nav-button nav-button--messages"
        [class.nav-button--active]="activeNav === 'messages'"
        [routerLink]="['/tabs/tab4']"
      >
        <ion-icon
          aria-hidden="true"
          name="chatbubble-ellipses-outline"
        ></ion-icon>
        <span>Mensagens</span>
        <span
          class="message-badge"
          *ngIf="(unreadCount$ | async) as unreadCount"
          >{{ unreadCount }}</span
        >
      </button>

      <button
        type="button"
        class="nav-button"
        [class.nav-button--active]="activeNav === 'profile'"
        [routerLink]="['/tabs/tab1']"
        [queryParams]="{ nav: 'profile' }"
      >
        <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
        <span>Perfil</span>
      </button>
    </ng-container>
  </ion-tab-bar>
</ion-tabs>
