<ion-header>
  <ion-toolbar class="app-toolbar">
    <div class="app-header-body">
      <div class="app-header-body__content">
        <strong>AncientCoins</strong>
        <span>Mensagens</span>
      </div>
    </div>
  </ion-toolbar>
  <ion-toolbar class="search-bar-toolbar">
    <div class="search-panel-top">
      <div class="search-input-row">
        <div class="search-box">
          <ion-icon name="search-outline"></ion-icon>
          <ion-input
            [value]="searchText"
            (ionInput)="searchText = $event.detail.value ?? ''"
            placeholder="Pesquisar conversas..."
          ></ion-input>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="chat-content" scrollY="true">

  <div class="conversations-list" *ngIf="filteredConversations.length > 0; else emptyState">
    <button
      class="conversation-item"
      *ngFor="let thread of filteredConversations"
      (click)="openNegotiation(thread)"
      [class.conversation-item--highlight]="isHighlighted(thread)"
    >
      <div class="conversation-avatar">{{ getAvatar() }}</div>
      <div class="conversation-content">
        <div class="conversation-header">
          <h3 class="conversation-name">{{ getConversationName(thread) }}</h3>
          <span class="conversation-time">{{ getLastMessageTime(thread) }}</span>
        </div>
        <p class="conversation-message">{{ getLastMessage(thread) }}</p>
      </div>
      <div class="conversation-badge" *ngIf="thread.unreadCount > 0">
        {{ thread.unreadCount }}
      </div>
    </button>
  </div>

  <ng-template #emptyState>
    <div class="empty-state">
      <div class="empty-emoji">💬</div>
      <h3>Sem mensagens ainda</h3>
      <p>Quando interessados contactarem sobre as suas moedas, as conversas aparecerão aqui.</p>
    </div>
  </ng-template>
</ion-content>